{
  "env": {
    "test": {
      "presets": [
        ["@stellar-apps/es", {"runtime": false}],
        "@stellar-apps/react"
      ]
    },
    "cjs": {
      "presets": [
        [
          "@stellar-apps/es", {
            "env": {"targets":  {"ie":  11, "chrome": 41}},
            "runtime": {"corejs": 2}
          }
        ],
        "@stellar-apps/react"
      ]
    },
    "es": {
      "presets": [
        [
          "@stellar-apps/es", {
            "env": {
              "useBuiltIns": false,
              "modules": false,
              "targets": {"browsers": ">5% in US"}
            },
            "runtime": {"useESModules": true}
          }
        ],
        "@stellar-apps/react"
      ]
    },
    "node-es": {
      "presets": [
        [
          "@stellar-apps/es",
          {
            "env": {
              "modules": false,
              "targets": {"node": "8"}
            },
            "runtime": false
          }
        ],
        "@stellar-apps/react"
      ]
    }
  }
}
